@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.map{
  grid-column: 4/4;
  grid-row: 4/4;
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}


.weather-icon {
  background: none !important;
  border: none !important;
}

.weather-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
